@charset "UTF-8";
body{
 background:linear-gradient(-45deg,
     rgba(0, 153, 255, 0),
     rgba(0, 153, 255, 0.8));
    font-family: 游ゴシック;
}
.btn-true{
     background:linear-gradient(-45deg,
     rgba(0, 153, 255, 0.5),
     rgba(0, 153, 255, 0.5));
    color: white;
}
.container{
	margin-bottom: 45%;
}
.col-md-6{
	text-align: center;
    padding: 5%;
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 9px 26px 0
		rgba(0, 0, 0, 0.19);
	border-radius: 10px;
}

.container{
    margin-top: 5px;
    margin-bottom: 20%;
    padding: 5%;
}
.right{
    color: white;
}
h3,h4{
    padding: 2%;
}

h5{
    padding: 2%;
    color: red;
}
.div-control-right{
	padding: 3%;
}
.btn-true{
		width: 200px;
	height: 35px;
}
.input-control{
	width: 400px;
	height: 35px;
	border-radius: 8px;
}
