@charset "UTF-8";

body {
	background: linear-gradient(-45deg, rgba(0, 153, 255, 0),
		rgba(0, 153, 255, 0.8));
	font-family: 游ゴシック;
}

.btn:hover {
  	background: linear-gradient(-45deg, rgba(0, 153, 255, 0.9),
		rgba(0, 153, 255, 0.9));
	color: white;
}
.btn {
	background: linear-gradient(-45deg, rgba(0, 153, 255, 0.5),
	rgba(0, 153, 255, 0.5));
	color: white;
	width: 80px;
	height: 35px;
	border-radius: 8px;
}


.col-md-10 {
	padding: 5%;
}

.container {
	margin-top: 5px;
	margin-bottom: 15%;
	padding: 5%;
}

.input-control {
	width: 700px;
	height: 35px;
	border-radius: 8px;
}