@charset "UTF-8";

body{
 background:linear-gradient(-45deg,
     rgba(0, 153, 255, 0),
     rgba(0, 153, 255, 0.8));
     font-family: 游ゴシック;
}
.btn-left{
     background:linear-gradient(-45deg,
     rgba(0, 153, 255, 0.5),
     rgba(0, 153, 255, 0.5));
    color: white;
}

.col-md-6{
	text-align: center;
    padding: 5%;
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 9px 26px 0
		rgba(0, 0, 0, 0.19);
	border-radius: 10px;
}
.left{
    background-color: gainsboro
}
.right{
    color: white;
}
.container{
    margin-top: 5px;
    margin-bottom: 4%;
    padding: 5%;
}
.h5-position{
    padding: 3%;
}

h5{
    padding: 2%;
}
.div-control-left{
    padding: 3%;
}

.div-control-right{
	padding: 3%;
}
.input-control{
	width: 400px;
	height: 35px;
	border-radius: 8px;
}