@charset "UTF-8";
#glayLayer {
	display: none;
    position: fixed;
    left: 0;
    top: 0;
	height: 100%;
	width: 100%;
	background: black;
	filter: alpha(opacity=60);
	opacity: 0.75;
}

#overLayer {
    display: none;;
    position: fixed;
    top: 45%;
    left: 44%;
    background-color: white;
    padding-top: 60px;
	padding-left: 100px;
	padding-right: 100px;
	padding-bottom: 60px;
	border-radius: 8px;
}