@charset "UTF-8";

* {
	margin: 0;
	padding: 0;
}

body {
	font-size: 17px;
	font-family: 游ゴシック;
	background-color: #380142;
}

.row {
	margin-bottom: 4%;
}

.header {
	background-color: white;
	color: black;
	width: 1150px;
	position: absolute;
}

.left {
	color: #ffffff;
	margin-bottom: 50%;
	height: 40px;
	position: fixed;
}

.right {
	overflow-y: scroll;
	overflow: scroll;
	background-color: #fcfcfc;
	color: black;
	width: 1150px;
	height: 530px;
	font-size: 16px;
}

footer {
	width: 84%;
	height: 80px;
	background-color: white;
	color: #000000;
	text-align: center;
	margin-left: 228px;
	padding: 30px 0;
	position: absolute;
	bottom: 0%;
}

.roomlist-name {
	text-decoration: none;
	color: #ffffff;
	opacity: 0.6;
	font-size: 17px
}

input.message {
	width: 900px;
	height: 40px;
	border-radius: 3px;
}

.btn:hover {
  	background: linear-gradient(-45deg, rgba(0, 153, 255, 0.6),
		rgba(0, 153, 255, 0.9));
	color: white;
}
.channel-top {
	font-weight: bold;
	padding: 2px;
}

.btn {
	background: linear-gradient(-45deg, rgba(0, 153, 255, 0.3),
		rgba(0, 153, 255, 0.5));
	color: white;
	border-radius: 3px;
	font-size: 14px;
}
.btn-position{
	padding-right: 2px;
}

.head{
	padding-top: 15px;
}